<div class="page__footer-copyright">
    <h3>Acknowledgements</h3>
    <p>A. Löcken and A. Riener are supported by the German Federal Ministry for Digital and Transport (BMDV) 
        within the <a href="https://bmdv.bund.de/DE/Themen/Digitales/Automatisiertes-und-vernetztes-Fahren/AVF-Forschungsprogramm/Projekte/avf-projekte.html" target="_blank"><i>Automated and Connected Driving</i></a> funding program 
        under Grant No. 01MM20012J (<a href="https://savenow.de/" target="_blank">SAVeNoW</a>).
        A. Habibovic is supported by the Swedish Strategic Vehicle Research and Innovation programme (FFI) through the project External interaction principles for creating trust in heavy automated vehicles (ref 2019-05901), which is also associated to SAFER &ndash; Vehicle and Traffic Safety Centre at Chalmers.  
        Y. M. Lee is supported by the Hi-Drive project, funded by the European Union's Horizon 2020 research and innovation programme under grant agreement No&nbsp;101006664. </p>
    <!-- Logos-->
    <div class="align-right">
        <!-- save -->
        <a href="https://savenow.de/" target="_blank"><img style="height: 150px;"
                src="{{site.baseurl}}/assets/images/Logo_SAVeNow_final_mit_Text.png" /></a>
        &nbsp;
        <!-- bmbf -->
        <a href="https://bmdv.bund.de/EN/Home/home.html" target="_blank"><img style="height: 150px;"
                src="{{site.baseurl}}/assets/images/BMVI_Foerderlogo_englisch_NEU.jpg" /></a>
    </div>
</div>
